body{
    display: flex;
    justify-content: center;
    background-color: lemonchiffon;
}
.container{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 690px;
    border: 3px solid black;
    border-radius: 20px;
    align-items: center;  
    margin-top: 100px;
    background-color: palegoldenrod;
    padding-top: 25px;   
    gap: 10px;
}

.displayRow1{
    display: flex;
    border: 2px solid   black;
    border-radius: 10px;
    width: 480px;
    margin-top: 5px; 
    height: 98px;
    color: black;
    background-color: beige;
    flex-direction: row-reverse;
    align-items: flex-end;
    font-size: 70px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 5px;
    padding-bottom: 10px;
    margin-bottom: 8px;
    gap: 10px;
}

button{
    border-radius: 5px;
    color: black;
    background-color: dodgerblue;
    width: 119px;
    height: 98px;
    font-size: 40px;
    box-shadow: none;
    border: none;
    border-radius: 10px;    
}

.zeroButton{
    width: 242px;
}

.operationButton{
    background-color: orangered;
}

.numberButton{
    background-color: olivedrab;
}

button:hover {
 background-color: cyan;   
}

button:active{
    background-color: darkcyan;
}

.clearButton , .deleteButton{
    width: 180px;
}